<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> About</title>
            <meta name="google-site-verification" content="Co5ss0eMqJIVZAtVV6WCvsO6s9PBwJC0I5ZafJvM1Xo" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="" rel="stylesheet">
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
             <link rel="stylesheet" type="" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
           <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <link rel="stylesheet" type="" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="static/style.css" rel="stylesheet">
<link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
<!-- Font Awesome -->
<link
 rel="stylesheet"
 href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>
<!-- Google Fonts Roboto -->
<link
 rel="stylesheet"
 href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
/>
    </head>
    <body>
      
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="row">
                   <div> <a class="navbar-brand" href="#">Web tech solution center</a></div>
                   <!--<div class='center'><img src="static/logo.png" class="rounded mx-auto d-block" alt="..." style='width:20%'></div>-->
                    <div class='row'> 
                        <a href='/login'>  login</a>
                        <a href='/register'>  register</a>
                    </div>
                  </div>
                  
                </div>
              </nav>
                
              <div class="container">
                <h3>Welcome to web develoment center</h3>
                <p>A home of software development and management system. Helping customers to reach out to their global campaign through tech. We are accredited company located in Ghana and we have served millions of customers through tech. </p>
              </div>
              <div class='row'>
                <div class='container-fluid'></div>
                <div class='container-fluid'></div>
                <div class='container-fluid'></div>


              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="">
                      <img src="static/python.jpeg" alt="Lights" style="width:100%">
                      <div class="caption">
                        <p>Pyhton programming course for beginners</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="">
                      <img src="static/java.jpeg" alt="Java" style="width:100%">
                      <div class="caption">
                        <p>java foundation course</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="">
                      <img src="static/django.png" alt="django" style="width:100%">
                      <div class="caption">
                        <p>Django web develoment course</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
                <div>
              {%extends 'bottom.html'%}
                </div>
        </div>
    </body>
</html>
